<div class = "user-post">
  <div class= "title">
    <h2><%= post.title %> <strong>  by  </strong> <%= post.author.name %></h2>
    <aside class= 'counter-section'>
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
    </aside>
  </div>
  <div class ="post-like-section">
    <p><%= post.text %></p>
    <%= form_with model: @like, url: like_path, method: :post do |f| %>
      <%= f.submit "Like"%>
    <%end%>
  </div>
</div>
