<% content_for :title, "#{@user.name}'s Posts"%>
<%= render "posts/user_post", post: @post %>
<div class= "post-comments">
  <% @post.comments.each do |comment| %>
    <div class="post-comment">
      <p>
        <span><strong><%= comment.author.name%></strong></span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
</div>
<%= form_with model: @comment, url: post_path, method: :post, scope: :comment do |f| %>
  <div class = "comment-section">
    <%= f.text_area :text, placeholder: "Add Comment" %>
    <%= f.submit "Comment" %>
  </div>
<% end %>
