<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

 <!-- Load Tailwind Play CDN-->
    <%= javascript_include_tag 'https://cdn.tailwindcss.com' %>
    <%= javascript_include_tag 'tailwind.config.js' %>

    <!-- Load Material Tailwind from Creative Tim-->
    <!-- stylesheet -->
    <%= stylesheet_link_tag "https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" %>
    <!-- script -->
    <%= javascript_include_tag 'https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js' %>



  <body>
  <div class = "nav-bar">
  <%= link_to 'HOME', root_path, class:'mr-8' %>
  <%= link_to 'Back', 'javascript:history.back()' %>
   </div>
    <%= yield %>
    <%= javascript_include_tag 'https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js' %>  
  </body>
</html>
